 
    #home{
        font-size:24pt;
        color:blue;
        
    }
    #home:hover{
        color:purple;
    }
    #projects{
        font-size:24pt;
        color:blue;
        padding: 1%;
    }
    #projects:hover{
        color:purple;
    }

    h1{
        text-align: center;
    }

    #tabela{
        margin:0 auto;
    }

    #tabela th, td{
        font-size: 17pt;
        border:1px solid black;
        
    }

    .copyLink{
        color:blue;
    }

    .copyLink:hover{
        color:purple;
    }

    