<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BLOG</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Blog</h1>
        <form method="post" action="/redirectBlog">
            <input type="submit" value="Cadastrar Post">
        </form>
    </body>
</html>