<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Resposta</h1>
        <p><%= status%></p>
        <p>Nome: <%=usuario%></p>
        <p>Senha: <%=senha%></p>
    </body>
</html>